<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="container mx-auto p-6">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold text-orange-500">
                AGC
            </h1>
            <div class="hidden space-x-8 md:flex">
                <a href="#about" class="hover:text-orange-500">About</a>
                <a href="#services" class="hover:text-orange-500">Services</a>
                <a href="#gallery" class="hover:text-orange-500">Gallery</a>
                <a href="#contact" class=" hover:text-orange-500">Contact us</a>
            </div>
        </div>
    </nav>

    <!-- Hero section -->
    <section id="hero">
        <div class="container flex flex-col px-6 items-center mx-auto mt-16 space-y-6 md:flex-row md:space-x-3">
            <div class="flex flex-col text-center mb-5 md:text-left md:w-1/2 md:mb-0">
                <h1 class="max-w-md text-5xl font-bold text-orange-500">
                    EXCELLENCE IS OUR PRIORITY
                </h1>
                <p class="max-w-xl mt-5 text-gray-400">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, adipisci eum. Officiis molestiae voluptatem, ab tempore dolorum nemo quos tempora amet nisi iure odio? Optio quae ratione unde cum repellat!
                </p>
            </div>
            <div class="md:w-1/2">
                <img src="../images/excellent.svg" alt="Excellent">
            </div>
        </div>
    </section>

    <!-- Ad banner -->
    <section id="ad" class="bg-orange-500 my-24">
        <h2 class="container px-6 mx-auto text-3xl text-white font-bold text-center py-10">
            You deserve the best, join us now!
        </h2>  
    </section>

    <!-- About section -->
    <section id="about">
        <div class="container mx-auto px-6 mt-20 text-center md:text-left">
            <div class="flex">
                <h1 class="bg-orange-500 text-white text-2xl px-10 py-2 rounded-full">
                    About
                </h1>
            </div>
            <p class="mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cum veniam possimus error. Nisi nobis ipsam sint enim, autem aliquam totam, nihil eos non libero veniam vitae tenetur fugiat aut maiores quaerat impedit saepe quod cumque inventore atque, laudantium sequi ipsum. Cumque et reprehenderit pariatur qui. Eius aperiam corporis doloribus nihil alias possimus ullam hic nulla, necessitatibus modi. Enim non odit illo fugit iusto facere, reiciendis totam blanditiis molestiae maiores in numquam laudantium modi placeat officia accusantium fugiat eum! Optio ex dolorum excepturi ad totam rem, nobis nulla, nostrum, facilis eum quas vel odit nam ea maxime facere consequatur sunt.
            </p>
        </div>
    </section>


    <!-- Services -->
    <section id="services">
        <div class="container mx-auto px-6 mt-20 text-center md:text-left">
            <div class="flex">
                <h1 class="bg-orange-500 text-white text-2xl px-10 py-2 rounded-full">
                    Services
                </h1>
            </div>
            <!-- services ad -->

            <!-- Cleaning -->
            <div class="flex flex-col space-y-14 mt-20 items-center justify-between md:space-y-0 md:flex-row md:space-x-10">
                <div class="flex md:w-1/2">
                    <img src="../images/cleaning.png" alt="Cleaning">
                </div>
                <div class="flex flex-col text-center md:text-left md:w-1/2">
                    <h2 class="text-3xl font-semibold text-orange-500">
                        DEJJ'S Cleaning Service
                    </h2>

                    <p class="mt-5 max-w-xl">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum soluta quas, dignissimos vel laboriosam mollitia laudantium quo, ratione nulla vero quasi at ipsam esse. Molestias sit eveniet voluptas, molestiae qui tenetur. Minus porro, ipsa similique quos ducimus dolor vero. Aspernatur, alias odio voluptates molestias similique omnis, iste nobis adipisci accusamus ex, unde ea. Labore autem a facilis possimus mollitia, assumenda corporis suscipit architecto nam quam iusto sed laborum aut odio similique quo, quibusdam dicta consequatur. Sequi quasi itaque hic. Beatae cum dolor sapiente porro quos, enim exercitationem qui rem minima?
                    </p>
                </div>
            </div>

            <!-- Beads -->
            <div class="flex flex-col space-y-14 mt-20 items-center justify-between md:space-y-0 md:flex-row md:space-x-10">
                <div class="flex md:w-1/2">
                    <img src="../images/beads.jpeg" alt="Cleaning">
                </div>
                <div class="flex flex-col text-center md:text-left md:w-1/2">
                    <h2 class="text-3xl font-semibold text-orange-500">
                        Lizzy's Beads
                    </h2>

                    <p class="mt-5 max-w-xl">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum soluta quas, dignissimos vel laboriosam mollitia laudantium quo, ratione nulla vero quasi at ipsam esse. Molestias sit eveniet voluptas, molestiae qui tenetur. Minus porro, ipsa similique quos ducimus dolor vero. Aspernatur, alias odio voluptates molestias similique omnis, iste nobis adipisci accusamus ex, unde ea. Labore autem a facilis possimus mollitia, assumenda corporis suscipit architecto nam quam iusto sed laborum aut odio similique quo, quibusdam dicta consequatur. Sequi quasi itaque hic. Beatae cum dolor sapiente porro quos, enim exercitationem qui rem minima?
                    </p>
                </div>
            </div>

            <!-- Web development -->
            <div class="flex flex-col space-y-14 mt-20 items-center justify-between md:space-y-0 md:flex-row md:space-x-10">
                <div class="flex md:w-1/2">
                    <img src="../images/development.svg" alt="Cleaning">
                </div>
                <div class="flex flex-col text-center md:text-left md:w-1/2">
                    <h2 class="text-3xl font-semibold text-orange-500">
                        Web Development
                    </h2>

                    <p class="mt-5 max-w-xl">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum soluta quas, dignissimos vel laboriosam mollitia laudantium quo, ratione nulla vero quasi at ipsam esse. Molestias sit eveniet voluptas, molestiae qui tenetur. Minus porro, ipsa similique quos ducimus dolor vero. Aspernatur, alias odio voluptates molestias similique omnis, iste nobis adipisci accusamus ex, unde ea. Labore autem a facilis possimus mollitia, assumenda corporis suscipit architecto nam quam iusto sed laborum aut odio similique quo, quibusdam dicta consequatur. Sequi quasi itaque hic. Beatae cum dolor sapiente porro quos, enim exercitationem qui rem minima?
                    </p>
                </div>
            </div>

        </div>
    </section>

</body>
</html>
