<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="container mx-auto p-6">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold text-orange-500">
                AGC
            </h1>
            <div class="hidden space-x-8 md:flex">
                <a href="#about" class="hover:text-orange-500">About Us</a>
                <a href="#services" class="hover:text-orange-500">Services</a>
                <a href="#gallery" class="hover:text-orange-500">Gallery</a>
                <a href="#contact" class=" hover:text-orange-500">Contact Us</a>
            </div>
        </div>
    </nav>

    <!-- Hero section -->
    <section id="hero">
        <div class="container flex flex-col px-6 items-center mx-auto mt-16 space-y-6 md:flex-row md:space-x-3">
            <div class="flex flex-col text-center mb-5 md:text-left md:w-1/2 md:mb-0">
                <h1 class="max-w-md text-5xl font-bold text-orange-500">
                    EXCELLENCE IS OUR PRIORITY
                </h1>
                <p class="max-w-xl mt-5 text-gray-400">
                    At AGC, we believe our duty is to serve the needs of our clients to the best of our capabilities. All clients are equal and thus are treated with quality service in all aspects.
                </p>
            </div>
            <div class="md:w-1/2">
                <img src="../images/excellent.svg" alt="Excellent">
            </div>
        </div>
    </section>

    <!-- Ad banner -->
    <section id="ad" class="bg-orange-500 my-24">
        <h2 class="container px-6 mx-auto text-3xl text-white font-bold text-center py-10">
            You deserve the best, join us now!
        </h2>  
    </section>

    <!-- About section -->
    <section id="about">
        <div class="container mx-auto px-6 mt-20 text-center md:text-left">
            <div class="flex">
                <h1 class="bg-orange-500 text-white text-2xl px-10 py-2 rounded-r-full pr-28">
                    About Us
                </h1>
            </div>
            <p class="mt-5 md:px-32">
                Appiatu Group of Companies (AGC) is a business owned and ran by the Appiatu family. Our team, however not limited to family members, consists of diverse individuals from all walks of life, with different religious backgrouds and levels of academia. 
            </p>
        </div>

        <!-- Mission and Vision -->
        <div class="container mx-auto px-6 flex flex-col space-y-8 text-center justify-evenly mt-10 md:flex-row md:px-20 md:space-x-10 md:space-y-0">
            <div class="flex flex-col space-y-3 md:w-1/2">
                <h3 class="text-2xl text-orange-500 font-bold">
                    Mission
                </h3>

                <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit atque quas soluta error dolores, totam esse molestias quia modi libero veritatis ipsa tenetur commodi ducimus saepe exercitationem cum repudiandae sint sunt, ut cumque sapiente. Vel culpa laborum aliquam aut fugiat sequi neque provident deleniti explicabo, quia facere, laudantium, est quam.</p>
            </div>
            <div class="flex flex-col space-y-3 md:w-1/2">
                <h3 class="text-2xl text-orange-500 font-bold">
                    Vision
                </h3>

                <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit atque quas soluta error dolores, totam esse molestias quia modi libero veritatis ipsa tenetur commodi ducimus saepe exercitationem cum repudiandae sint sunt, ut cumque sapiente. Vel culpa laborum aliquam aut fugiat sequi neque provident deleniti explicabo, quia facere, laudantium, est quam.</p>
            </div>
        </div>
    </section>


    <!-- Services -->
    <section id="services">
        <div class="container mx-auto px-6 mt-28 text-center md:text-left">
            <div class="flex">
                <h1 class="bg-orange-500 text-white text-2xl px-10 py-2 rounded-r-full pr-28">
                    Services
                </h1>
            </div>
            <!-- services ad -->

            <!-- Cleaning -->
            <div class="flex flex-col space-y-14 mt-20 items-center justify-between md:space-y-0 md:flex-row md:space-x-10">
                <div class="flex md:w-1/3">
                    <img src="../images/cleaning.png" alt="Cleaning">
                </div>
                <div class="flex flex-col text-center md:text-left md:w-2/3">
                    <h2 class="text-3xl font-semibold text-orange-500">
                        DEJJ'S Cleaning Service
                    </h2>

                    <p class="mt-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum soluta quas, dignissimos vel laboriosam mollitia laudantium quo, ratione nulla vero quasi at ipsam esse. Molestias sit eveniet voluptas, molestiae qui tenetur. Minus porro, ipsa similique quos ducimus dolor vero. Aspernatur, alias odio voluptates molestias similique omnis, iste nobis adipisci accusamus ex, unde ea. Labore autem a facilis possimus mollitia, assumenda corporis suscipit architecto nam quam iusto sed laborum aut odio similique quo, quibusdam dicta consequatur. Sequi quasi itaque hic. Beatae cum dolor sapiente porro quos, enim exercitationem qui rem minima?
                    </p>
                </div>
            </div>

            <!-- Beads -->
            <div class="flex flex-col space-y-14 mt-20 items-center justify-between md:space-y-0 md:flex-row md:space-x-10">
                <div class="flex md:w-1/3">
                    <img src="../images/beads.jpeg" alt="Cleaning">
                </div>
                <div class="flex flex-col text-center md:text-left md:w-2/3">
                    <h2 class="text-3xl font-semibold text-orange-500">
                        Lizzy's Beads
                    </h2>

                    <p class="mt-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum soluta quas, dignissimos vel laboriosam mollitia laudantium quo, ratione nulla vero quasi at ipsam esse. Molestias sit eveniet voluptas, molestiae qui tenetur. Minus porro, ipsa similique quos ducimus dolor vero. Aspernatur, alias odio voluptates molestias similique omnis, iste nobis adipisci accusamus ex, unde ea. Labore autem a facilis possimus mollitia, assumenda corporis suscipit architecto nam quam iusto sed laborum aut odio similique quo, quibusdam dicta consequatur. Sequi quasi itaque hic. Beatae cum dolor sapiente porro quos, enim exercitationem qui rem minima?
                    </p>
                </div>
            </div>

            <!-- Web development -->
            <div class="flex flex-col space-y-14 mt-20 items-center justify-between md:space-y-0 md:flex-row md:space-x-10">
                <div class="flex md:w-1/3">
                    <img src="../images/development.svg" alt="Cleaning">
                </div>
                <div class="flex flex-col text-center md:text-left md:w-2/3">
                    <h2 class="text-3xl font-semibold text-orange-500">
                        Web Development
                    </h2>

                    <p class="mt-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum soluta quas, dignissimos vel laboriosam mollitia laudantium quo, ratione nulla vero quasi at ipsam esse. Molestias sit eveniet voluptas, molestiae qui tenetur. Minus porro, ipsa similique quos ducimus dolor vero. Aspernatur, alias odio voluptates molestias similique omnis, iste nobis adipisci accusamus ex, unde ea. Labore autem a facilis possimus mollitia, assumenda corporis suscipit architecto nam quam iusto sed laborum aut odio similique quo, quibusdam dicta consequatur. Sequi quasi itaque hic. Beatae cum dolor sapiente porro quos, enim exercitationem qui rem minima?
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- Gallery section -->
    <section id="gallery">
        <div class="container mx-auto px-6 mt-36">
            <div class="flex">
                <h1 class="bg-orange-500 text-white text-2xl px-10 py-2 rounded-r-full pr-28">
                    Gallery
                </h1>
            </div>

            <div class="mt-10">
                <h1 class="text-orange-500 text-3xl font-semibold">
                    Cleaning
                </h1>
            </div>

            <!-- Cleaning -->
            <div class="grid grid-cols-4 gap-4 mt-7">
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning1.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning2.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning3.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning4.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning5.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning6.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning7.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning8.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-cleaning9.jpg" alt="">
                </div>
            </div>
            

            <div class="mt-20">
                <h1 class="text-orange-500 text-3xl font-semibold">
                    Beads
                </h1>
            </div>

            <!-- Beads -->
            <div class="grid grid-cols-4 gap-4 mt-7">
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads1.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads2.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads3.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads4.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads5.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads6.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads7.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads.jpg" alt="">
                </div>
                <div class="hover:scale-150">
                    <img src="../images/gallery-beads9.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section -->
    <section id="contact" class="bg-orange-500 py-10 mt-36">
        <div class="container mx-auto px-6 pt-2">
            <div class="flex items-center justify-center">
                <h1 class="text-white font-bold text-4xl px-20">
                    Contact Us
                </h1>
            </div>
            

            <div class="my-10 md:px-48">
                <form action="#" class="shadow-xl rounded-lg p-10 bg-white">

                    <!-- Name -->
                    <div class="flex flex-col items-center justify-evenly space-y-3 md:flex-row md:space-x-5 md:space-y-0">
                        <input type="text" class="rounded-full md:w-1/2" name="first_name" id="first_name" placeholder="First Name">
                        <input type="text" class="rounded-full md:w-1/2" name="last_name" id="last_name" placeholder="Last Name">
                    </div>

                    <!-- Email, service -->
                    <div class="flex flex-col items-center justify-evenly space-y-3 mt-5 md:flex-row md:space-x-5 md:space-y-0">
                        <input type="email" class="rounded-full md:w-1/2" name="email" id="email" placeholder="Email">
                        <select name="service" id="service" class="rounded-full md:w-1/2">
                            <option disabled selected>Choose service</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="beads">Beads</option>
                            <option value="development">Web development</option>
                        </select>
                    </div>

                    <!-- Description -->
                    <div class="flex items-center justify-center mt-5">
                        <textarea name="description" id="description" rows="10" class="rounded-md flex-auto" placeholder="Describe the service you are looking for..."></textarea>
                    </div>

                    <div class="flex items-center justify-center mt-7">
                        <button class="py-3 px-10 bg-orange-500 text-white rounded-full">
                            Submit <i class="bi bi-send-fill"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer" class="bg-gray-800">
        <div class="container mx-auto px-6 pt-20 pb-5 flex space-y-5 flex-col items-center justify-between md:flex-row md:space-x-5 md:space-y-0">
            <!-- brand -->
            <div class="flex flex-col text-center space-y-3 text-orange-500">
                <h1 class="text-7xl font-extrabold">
                    AGC
                </h1>
                <p><i>Your best bet for quality service!</i></p>
            </div>
            
            <!-- Menu -->
            <div class="flex flex-row space-x-3 text-white">
                <a href="#about" class="hover:text-orange-500">About Us</a>
                <a href="#services" class="hover:text-orange-500">Services</a>
                <a href="#gallery" class="hover:text-orange-500">Gallery</a>
                <a href="#contact" class=" hover:text-orange-500">Contact Us</a>
            </div>
        </div>

        <div class="container mx-auto px-6 pb-5 flex items-center justify-center text-white">
            <p>Copyright &copy; 2022 All rights reserved</p>
        </div>

    </footer>

</body>
</html>
